# The application environment
APP_NAME=sample
APP_VERSION=v1
APP_DEBUG=true
APP_HOST=http://localhost/
APP_PORT=8080
APP_KEY=
APP_LOCALE=id|en

# Database Parameters environment
DB_USER=postgres
DB_PASSWORD=
DB_DRIVER=postgres
DB_NAME=sample_db
DB_HOST=127.0.0.1
DB_PORT=5432

# Mail Parameters environment
MAIL_HOST=official.sample.com
MAIL_PORT=465
MAIL_USERNAME=info@official.sample.com
MAIL_PASSWORD=sample
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS=info@official.sample.com

# Redis parameters environment
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379
REDIS_DEFAULT_DB=0

# Queue [Rabbit MQ] parameters environment
RABBITMQ_HOST=amqp://guest:guest@localhost:5672